body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.progress-container {
  width: 100%;
  background-color: #cc0d0d;
}

.progress-bar {
  height: 8px;
  background-color: #4caf50;
  width: 0;
}
